<!DOCTYPE html>
<html>
<head>
  <title>Weihai Connect</title>
 <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>  
</head>
<body>
  
<section>
<header>
  <div class="container-fluid">
    
    <div class="logo"><h1><a href=""><%=image_tag("whlog.png", alt: "WEIHAI CONNECT", width: "300px", )%><%= link_to '', root_path, class: 'navbar-brand' %></a></h1>
    </div>
    
    <form class="navbar-form navbar-right">
        <button type="submit" class="btn btn-default"><i class="fa fa-search" aria-hidden="true"></i></button>
        <button type="submit" class="btn btn-default">JOIN UP</button>
        <button type="submit" class="btn btn-default">LOG IN</button>
    </form>
  </div>
  
  <div class="container-fluid bluecolor">
    
    <nav class="site-nav">
      <ul>
        <li><a class="link" href="#">MEMBERS</a></li>
        <li><a class="link" href="#">GROUPS</a></li>
        <li><a class="link" href="#">FORUM</a></li>
        <li><a class="link" href="#">LISTINGS</a></li>
        <li><a class="link" href="#">MEDIA</a></li>
        <li><a class="link" href="#">CONTACT</a></li>
      </ul>
    </nav>
    
    <div class="menu-toggle">
      <div class="hamburger">
      </div>
    </div>
    
   
    
  </div>
 </header>
</section>

<section ="top-content">
  <div id="push" class="container top-content-columns">
    <div class="left-column"><h2>MEMBER'S WALL</h2>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean tempus sed odio eget convallis. 
    Quisque a consectetur tellus. 
    Donec pretium sodales felis sed pharetra. Aenean vel ex diam. Phasellus odio nibh, dignissim eget felis eu, convallis semper diam. 
    Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos.</p> 
    </div>
    <div class="right-column">
      <h2>LISTINGS</h2>
    <P>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean tempus sed odio eget convallis. 
    Quisque a consectetur tellus. 
    Donec pretium sodales felis sed pharetra. Aenean vel ex diam. Phasellus odio nibh, dignissim eget felis eu, convallis semper diam. 
    Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. 
    Mauris efficitur orci orci, a fermentum elit volutpat ac. Cras venenatis enim non enim pellentesque varius. 
    Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Sed massa mauris, 
    condimentum quis massa quis, laoreet laoreet lectus.
Curabitur dui odio, ullamcorper volutpat mollis sed, consectetur eu lectus. Lorem ipsum dolor sit amet, consectetur adipiscing elit.
Vivamus faucibus lorem et placerat sagittis. Vivamus malesuada pharetra est, vitae luctus nunc pharetra et. Cras vehicula nisi a enim finibus, nec egestas est rhoncus. 
Vestibulum vitae lobortis sapien. Aliquam consequat vestibulum magna id condimentum. Vestibulum vel eros nunc. Mauris purus turpis, mollis nec sem semper, lobortis malesuada sem. 
Curabitur nec commodo metus, vel euismod purus. 
Ut quis odio vitae purus placerat lobortis vel ut ex. Praesent dui nisl, finibus nec urna lacinia, maximus volutpat lorem. Nullam sed tortor semper, elementum elit sed, ultricies sapien.
</p>
</div>
  </div>
</section>
  
  
  
</body>
</html>
